body { background-color: #F3F1F5; }
	div {
		text-align: justify;}

.container2 {
  text-align: left;
  color: black;
margin-left: 50px;
font-size: 30px;
padding-top: 50px;

}
.container1 {
  text-align: center;
  color: black;
margin-left: 20px;
margin-right: 20px;
font-size: 25px;
padding-top: 20px;

}

* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
body {
 font-family: cursive;
}
a {
 text-decoration: none;
}
li {
 list-style: none;
}

.navbar {
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding: 20px;
 background-color: #B1D0E0;
 color: #fff;
}
.nav-links a {
 color: #fff;
}

.logo {
 font-size: 32px;
}

.menu {
 display: flex;
 gap: 1em;
 font-size: 18px;
}
.menu li:hover {
 background-color: #4c9e9e;
 border-radius: 5px;
 transition: 0.3s ease;
}
.menu li {
 padding: 5px 14px;
}


img {
     float: right;
      width: 650px;
      height: 500px; 
      padding-top: 50px;
      padding-right: 30px;
      padding-left: 30px;
  } 
.top { padding-top: 30px;
}
 
.clearfix{
overflow: auto;
}
